<div class="home-container">

    <h2 class="home-title">Send Us an email. We'll get back ASAP</h2>
    <div class="homeBtns">
        <form action="mailto:someone@example.com" method="post" enctype="text/plain">
        Name:<br>
        <input type="text" name="name"><br>
        E-mail:<br>
        <input type="text" name="mail"><br>
        Tell us what you need :) <br>
        <textarea type="text" rows="25" cols="55" ></textarea><br><br>
        <!-- <input type="submit" value="Send"> -->
        <button class="hBtn" type="submit" value="Send">Send</button>
        </form>
    </div>
</div>


