<div class="ef-container">



<h2 class="ef-title">Event Form Status</h2>

<table>
  <tr>
    <th>Employee</th>
    <th>Submitted</th>
    <th>Status</th>
    <th>Edit</th>
  </tr>
  <tr>
    <td>Joe Smitherton</td>
    <td>06/05/2020</td>
    <td>Accepted</td>
    <td><button class="eBtn"><a routerLink="/admin">X</a></button></td>
  </tr>
  <tr>
    <td>Steve Stevenheimer</td>
    <td>09/04/1013</td>
    <td>Waiting</td>
    <td><button class="eBtn"><a routerLink="/admin">X</a></button></td>
  </tr>
 
</table>
<br>

<div class="homeBtns">
    <button class="hBtn"><a routerLink="/home">Home</a></button>
</div>
</div>