<div class="ef-container"> 
    
    <h1 class="ef-title">Event Reimbursement Form</h1>

    <div class="efInputs">
       <p class="ef-text">Please Fill Below:</p> 
      <input id="ef-input" type="text" placeholder="First Name">
      <input id="ef-input" type="text" placeholder="Last Name">
      <input id="ef-input" type="text" placeholder="Event Start Date">
      <input id="ef-input" type="text" placeholder="Time(s)">
      <input id="ef-input" type="text" placeholder="Location">
      <textarea id="ef-input" rows="5" cols="100" placeholder="Description" ></textarea>
      
      <div class="form-group">
          <label for="events">
              Event Type: 
          </label>
          <select name="events" id="events" [(ngModel)]="events" class="form-control">
            <option *ngFor="let evt of events" [value]="evt.id">
                {{evt.name}}
            </option>
          </select>
      </div>
      <div class="form-group">
        <label for="grades">
            Grade Format: 
        </label>
        <select name="grades" id="grades" [(ngModel)]="grades" class="form-control">
          <option *ngFor="let grade of grades" [value]="grade.id">
              {{grade.format}}
          </option>
        </select>
    </div>


      <input id="ef-input" type="number" placeholder="Cost">
      
      
      <!-- <select name="grading-format" id="gformat">
          <option selected disabled>Select Grading Format</option>
          <option value="traditional">Letter Grade</option>
          <option value="percentage">Percentage</option>
          <option value="passfail">Pass or Fail</option>
      </select> -->
      
    </div>
</div>
