.ef-container {
    height: 100vh;
    background-color: #9ee79c;
    
}

.ef-title {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    text-decoration: underline;
    margin: 0;
    padding: 20px;
    color: #333;
}

.efInputs {
    margin: 5px;
    width: auto;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
 #ef-input{
    padding: 2px;
    width: auto;
    margin: 2px;
    width: 400px;
 }

 .ef-text {
     color:#333;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: bolder;
 }

 .et-text {
    color:#333;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    margin: 5px 0 2px 0;
}
.input {
    padding: 2px;
    width: auto;
    text-align: center;
}

.btn {
    margin: 10px;
    padding: 5px;
    width: 100px;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color: #333;
    
}

.btn a {
    text-decoration: none;
    color:#333;
}

.btn:hover{
    color: #777;
    background-color: rgb(243, 243, 243);
}



