<div class="ef-container"> 
    
    <h1 class="ef-title">Tuition Reimburesment Management System</h1>

    <div class="efInputs">
       <p class="ef-text">Please Fill Below:</p> 
      <input id="ef-input" type="text" placeholder="First Name">
      <input id="ef-input" type="text" placeholder="Last Name">
      <input id="ef-input" type="text" placeholder="Event Start Date">
      <input id="ef-input" type="text" placeholder="Time(s)">
      <input id="ef-input" type="text" placeholder="Location">
      <textarea id="ef-input" rows="5" cols="100" placeholder="Description" ></textarea>
      <input id="ef-input" type="number" placeholder="Cost">
      <p class="et-text"> Select Event Type:</p>
      <select name="event-type" id="event">
        <option value="cert">Certification</option>
        <option value="certprep">Certification Prep classes</option>
        <option value="college">University Courses</option>
        <option value="tech">Technical Training</option>
      </select>
      <input id="ef-input" type="text" placeholder="Grading Format">
      
    </div>
</div>
