<div class="emp-reg-container">    
    
    <h2 class="reg-title">Fill All Fields to Register</h2>


    <div class="regBtns">
        <input type="text" class="input" required="required" id="nameInput" placeholder="First Name"><br>
        <input type="text" class="input" required="required" id="nameInput" placeholder="Last Name"><br>
        <input type="text" class="input" required="required" id="passwordInput" placeholder="password"><br>
        <input type="text" class="input" required="required" id="passwordInput" placeholder="re-type password"><br>
        <input type="text" class="input" required="required" id="emailInput" placeholder="email"><br>
        <h2 class="reg-title">Continue to Reimbursement Form</h2>
        <button class="btn"><a routerLink="/eventform">Fill Form</a></button>
        <h2 class="reg-title">Return to Home</h2>
        <button class="btn"><a routerLink="/home">Home</a></button>
    </div>
    
    
</div>