<div class="login-container">    
    <h2 class="login-title">Please login to continue</h2>
    <h2 class="login-title">Or press "Signup" to register</h2>


    <div class="loginBtns">
        <input type="text" class="input" required="required" id="nameInput" placeholder="name"><br>
        <input type="text" class="input" required="required" id="passwordInput" placeholder="password"><br>

        <button  (click)="login()" class="btn" id="loginSubBtn">Submit</button>
        <button class="btn" id="loginSubBtn"><a routerLink="/register">Signup</a></button>
    </div>
    
</div>